<!DOCTYPE html>
<html>
  <head>
    <title><%= "Censusaur" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbar-brand">
          <%= link_to "Censusaur", root_path  %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav nav-tabs navbar-right">
            <ul class="nav navbar-nav nav-tabs">
              <li class=""><%= link_to "1996 Data", root_path %></li>
              <li class=""><%= link_to "1996 Charts", charts_path %></li>
            </ul>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% if notice %>
      <br>  <br>  <br>  <br>  <br>
      <p class="notice"><mark>
        <%= notice %></mark></p>
    <% elsif alert %>
      <br>  <br>  <br>  <br>  <br>
      <p class="alert">
        <%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
